.buttonsToolsPagination {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    @media (max-width: 425px) {
        align-items: center;
        flex-flow: row wrap;
    }

    .BtnPagination {

        @media (max-width: 425px) {
            width: 2rem;
        }
    }
}