.containerCreateUser {
    margin: 10px 30px 0 0;
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
}

.containerForm {
    margin: 30px 0 0 0;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;

    .containerInputs {
        display: inline-flex;
        max-width: 17rem;
    }

    .containerBtnSave {
        display: inline-flex;
        align-items: center;
        width: 100%;
    }
}